:root {
  --text-white: hsl(0, 0%, 100%);
  --text-grey: hsl(217, 12%, 63%);
  --button-rating: hsl(216, 12%, 54%);
  --container: hsl(213, 19%, 18%);
  --body-color: hsl(216, 12%, 8%);
  --button-cta: hsl(25, 97%, 53%);

  --fs-xs: 15px;

  --font-manrope: "Manrope";
}

@import url("https://fonts.google.com/specimen/Overpass");

body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Overpass", sans-serif;
  background-color: var(--body-color);
  color: var(--text-grey);
  font-size: 15px;
}

@media (min-width: 769px) {
  body {
    font-size: 20px;
  }
}
